<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar </title>
    <link rel="stylesheet" href="/view/Comprar.css">
    <link rel="stylesheet" href="/View/style.css">
    <title>Menú de Cafetería</title>
    <link rel="stylesheet" href="/view/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
</head>

<body>
    <header class="menu-header">
        <div class="contenedor">
        <div class="barra">
            <a class="logo" href="/index.html">
                <h2 class="logo__nombre no-margin centrar-texto">Cafeteria<span class="Cafeteria">CRCafe</span></h2>
            </a> 
            <nav class="navegacion">
                <a href="/View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                <a href="/View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                <a href="/View/cursos.html" class="navegacion__enlace">Cursos</a>
                <a href="/View/contacto.html" class="navegacion__enlace">Contacto</a>
                <a href="/View/carrito.html" class="navegacion__enlace carrito">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count">0</span>
                </a>
            
            </nav>
        </div>
        </div>
        <h1>Menú de Cafetería</h1>
        
        <p class="no-margin">Solicita tu producto y  disfrutar de una buena experencia</p>
    </header>
    <main>
        <section class="menu">
            <div class="menu-item">
                <img src="/img/CafeLatte.jpg" alt="Café Latte">
                <h2>Café Latte</h2>
                <p>$145 Colones</p>
                <label for="cantidad-latte">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            
            <div class="menu-item">
                <img src="/img/CafeCapuchino.jpg" alt="Cappuccino">
                <h2>Cappuccino</h2>
                <p>$150 Colones</p>
                <label for="CafeCapuchino">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/CafePresoFrances.jpg" alt="Preso Frances">
                <h2>Preso Frances</h2>
                <p>$110 Colones</p>
                <label for="CafePresoFrances">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>

            <div class="menu-item">
                <img src="/img/Cafe Moka.jpg" alt="Moka">
                <h2>Moka</h2>
                <p>$110 Colones</p>
                <label for="Cafe Moka">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>

            <div class="menu-item">
                <img src="/img/CafeIrlandes.jpg" alt="Moka">
                <h2>Irlandes</h2>
                <p>$110 Colones</p>
                <label for="Cafe Moka">Cantidad:</label>
                <input type="number" id="cantidad-Irlances" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>

            <div class="menu-item">
                <img src="/img/CafeFranpee.jpg" alt="Moka">
                <h2>Franpee</h2>
                <p>$110 Colones</p>
                <label for="Cafe Frappe">Cantidad:</label>
                <input type="number" id="cantidad-Franppe" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/Croissant.jpg" alt="Croissant">
                <h2>Croissant</h2>
                <p>$130 Colones</p>
                <label for="Croissant">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/PieMaracuya.jpg" alt="Pei Maracuya">
                <h2>Pie Maracuya</h2>
                <p>$130 Colones</p>
                <label for="Pie PieMaracuya">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/TortaChilena.jpg" alt="orta Chilena">
                <h2>Torta Chilena</h2>
                <p>$130 Colones</p>
                <label for="Torta Chilena">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/QuequeZanahoriajpg.jpg" alt="Queque de Zanahoria">
                <h2>Queque de Zanahoria</h2>
                <p>$130 Colones</p>
                <label for="Queque de Zanahoria">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/sandwich de pollo.jpg" alt="Sandwich de pollo">
                <h2>Sandwich de pollo</h2>
                <p>$130 Colones</p>
                <label for="Sandwich de pollo">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
            <div class="menu-item">
                <img src="/img/CrepaPollo.jpg" alt="Crepa de pollo">
                <h2>Crepa de pollo</h2>
                <p>$130 Colones</p>
                <label for="Crepa de pollo">Cantidad:</label>
                <input type="number" id="cantidad-latte" min="1" value="1">
                <button>Agregar al carrito</button>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Caferia<span class="logo__bold">CRCafe</span></h1>
                </a>
                
                <nav class="navegacion">
                    <a href="/View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                    <a href="/View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/View/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="/View/contacto.html" class="navegacion__enlace">Contacto</a> 
                </nav>
        </div>
    </footer>
</body>
</html>
