<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria CRCafe Contacto</title>
    <link rel="stylesheet" href="/View/style.css">
    <link rel="stylesheet" href="/View/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond&family=Krub:wght@400;700&family=Lobster+Two&family=Open+Sans&family=PT+Sans:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/View/style.css">  
</head>
<body>
    <header class="header">
        <div class="contenedor">
        <div class="barra">
            <a class="logo" href="/index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">CRCafe</span></h1>
            </a>
            
            <nav class="navegacion">
                <a href="/View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                <a href="/View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                <a href="/View/cursos.html" class="navegacion__enlace">Cursos</a>
                <a href="/View/contacto.html" class="navegacion__enlace">Contacto</a>

            </nav>
        </div>
        </div>
        
        <div class="header__texto">
            <h1 class="no-margin">La Caferia con el  mejor Cafe y reposteria</h1>
            <p class="no-margin">Envianos tu consulta media correo y te contactaremos </p>
        </div>
    </header>
    <main class="contenedor">
        <h3 class="centrar-texto"> Contacto</h3>

        <div class="contacto-bg"></div>

        <form class="formulario">   <!-- Con esta forma id ayuda a buscar el espacio -->
            <div class="campo">
                <label class="campo__label" for="nombre">Nombre</label>
                <input 
                class="campo__field"
                type="text" 
                placeholder="Tu nombre" 
                id="nombre"
                >
            </div>
            <div class="campo">
                <label class="campo__label"for="E-mail">E-mail</label>
                <input 
                class="campo__field"
                type="text" 
                placeholder="Tu correo"
                id="E-mail"
                >
            </div>
            <div class="campo">
                <label class="campo__label"for="Mensaje">Mensaje</label>
                <textarea class="campo__field campo__field--textarea"
                id="Mensaje"></textarea>
            </div>
            <div class="campo">
            <input
            type="submit" 
            value="Enviar" 
            class="boton boton--primario"
            </div>

        </form>
        
    </main>
    
        
    </div>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Cafeteria<span class="logo__bold">CRCafe</span></h1>
                </a>
                
                <nav class="navegacion">
                    <a href="/View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                    <a href="/View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/View/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="/View/contacto.html" class="navegacion__enlace">Contacto</a> 
                </nav>
        </div>
    </footer>
    
</body>
</html>