<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogDeCafeNosotros</title>
    <link rel="stylesheet" href="View/style.css">
    <link rel="stylesheet" href="View/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond&family=Krub:wght@400;700&family=Lobster+Two&family=Open+Sans&family=PT+Sans:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="View/style.css">   
</head>
<body>
    <header class="header">
        <div class="contenedor">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">CRCafe</span></h1>
            </a>
            
            <nav class="navegacion">
                <a href="View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                <a href="View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                <a href="View/cursos.html" class="navegacion__enlace">Cursos</a>
                <a href="View/contacto.html" class="navegacion__enlace">Contacto</a>

            </nav>
        </div>
        </div>
        
        <div class="header__texto">
            <h1 class="no-margin">Blog de Cafe con consejos y cursos</h1>
            <p class="no-margin">Aprende de los expertos con las mejores recetas y consejos</p>
        </div>
    </header>
    <main class="contenedor">
        <h3 class="centrar-texto"> Sobre Nosotros</h3>
        <img src="img/blog1.jpg" alt="imagen del blog">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis cursus diam ac tincidunt. Phasellus aliquam libero sit amet felis commodo, at sollicitudin mauris sollicitudin. Vivamus tincidunt orci vel ligula mattis sodales. Nunc hendrerit eros tincidunt, ultrices ex quis, ultricies dolor. Cras urna odio, dignissim et feugiat vitae, pulvinar vitae diam. Cras feugiat, neque eget cursus ultrices, risus odio facilisis erat, ac ultrices justo felis eget lacus. Donec a nibh porttitor, convallis enim in, efficitur ex. Sed eu lorem et mauris pulvinar aliquet ut rutrum felis. Etiam ultrices metus ac dignissim convallis. Mauris bibendum mauris ex, vel iaculis velit varius tempus. Proin a scelerisque orci. Nam blandit enim est, sed sagittis lacus mollis et. Nunc luctus quam eget leo semper pellentesque sed at massa. Ut vitae rhoncus libero, in vehicula orci.</p>

        <p> Nam placerat nisi nec lectus tincidunt mattis. Vivamus semper, massa at sodales porttitor, urna tortor pellentesque elit, sed lacinia dolor sapien interdum nibh. In efficitur turpis nulla, vitae commodo quam vestibulum vitae. Mauris et mollis leo. Aliquam erat volutpat. Aliquam egestas eget tortor eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam facilisis volutpat diam, et laoreet ex facilisis sit amet. Sed sed velit convallis, mattis lacus vestibulum, porttitor tellus. Duis sed odio nisl.</p>

        <p>Suspendisse id sodales dui. Proin semper semper magna vel condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent sollicitudin congue felis ac posuere. Nam semper est sed tellus sollicitudin venenatis. Nullam efficitur maximus velit, quis tincidunt ante condimentum ac. Sed ac mauris vel enim luctus tempor in vel arcu. Nunc efficitur rutrum arcu, a molestie elit scelerisque eu. Vestibulum quis massa vel ipsum tristique bibendum. Integer mattis lacinia neque at ullamcorper. Cras pretium, nunc sit amet consequat mollis, risus enim laoreet velit, vitae pulvinar sem purus sit amet lectus. Aliquam iaculis, odio vitae tincidunt pretium, quam lorem tempor nulla, in feugiat eros nisl eget enim.</p>
    </main>
    
        
    </div>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">CRCafe</span></h1>
                </a>
                
                <nav class="navegacion">
                    <a href="View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="View/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="View/contacto.html" class="navegacion__enlace">Contacto</a> 
                </nav>
        </div>
    </footer>
    
</body>
</html>