<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria Nosotros</title>
    <link rel="stylesheet" href="/View/style.css">
    <link rel="stylesheet" href="/View/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond&family=Krub:wght@400;700&family=Lobster+Two&family=Open+Sans&family=PT+Sans:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/View/style.css">   
</head>
<body>
    <header class="header">
        <div class="contenedor">
        <div class="barra">
            <a class="logo" href="/index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Cafeteria<span class="logo__bold">CRCafe</span></h1>
            </a>
            
            <nav class="navegacion">
                <a href="/View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                <a href="/View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                <a href="/View/cursos.html" class="navegacion__enlace">Cursos</a>
                <a href="/View/contacto.html" class="navegacion__enlace">Contacto</a>

            </nav>
        </div>
        </div>
        
        <div class="header__texto">
            <h1 class="no-margin"> La Caferia con el  mejor Cafe y reposteria</h1>
            <p class="no-margin">Conoce un poco de nosotros y de nuestro cafe y reposteria</p>
        </div>
    </header>
    <main class="contenedor">
        <h3 class="centrar-texto"> Sobre Nosotros</h3>
        
        <div class="sobre-nosotros">
            <div class="sobre-nosotros__imagen">

            <img src="/img/nosotros.jpg" alt="imagen nosotros"> 
                                
            </div>

            <div class="sobre-nosotros__texto">
            
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget ligula eget mauris dignissim suscipit eget nec sapien. Ut in scelerisque nisl. Morbi pellentesque eget purus quis varius. Nunc enim velit, consectetur et metus et, tristique pellentesque turpis. Quisque commodo est quis ex aliquet, sed suscipit lacus consectetur. Nunc est mi, posuere vel felis vitae, condimentum tincidunt magna. Curabitur non semper lectus. Nunc lacinia nisl luctus ante consequat congue. Nulla posuere vel erat sit amet venenatis. Aenean nec sem ac leo posuere dapibus.
                </p>
                <p>
                    Phasellus ultricies risus vitae ante tincidunt, vel ullamcorper purus malesuada. Suspendisse vel feugiat nulla. Quisque semper magna at ipsum convallis, a fermentum neque fermentum. Donec sem augue, gravida pulvinar feugiat id, vestibulum sit amet massa. In eu justo at ex posuere euismod. Nam tempor nunc at quam imperdiet feugiat. Etiam et semper felis. Sed interdum quis felis quis facilisis. Etiam enim diam, maximus convallis turpis iaculis, egestas bibendum erat.
                </p>
            </div>
        </div>
    </main>
    
        
    </div>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Cafeteria<span class="logo__bold">CRCafe</span></h1>
                </a>
                
                <nav class="navegacion">
                    <a href="/View/Comprar.html" class="navegacion__enlace">Compra de Productos</a>
                    <a href="/View/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/View/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="/View/contacto.html" class="navegacion__enlace">Contacto</a> 
                </nav>
        </div>
    </footer>
    
</body>
</html>